Screen {
    overflow: auto;
}

#calculator {
    layout: grid;
    margin: 1 2;
    min-height: 25;
    min-width: 26;
    height: 100%;
}

Button {
    width: 100%;
    height: 100%;
}

#numbers {
    padding: 0 1;
    height: 100%;
    background: red;
    color: white;
}

#number-0 {
    width: 50%;
}
